#Starterpack{
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Starterpack a{
padding:25px
}

#Starterpack li {
    color : #e1aa3b;
}

@media (max-width: 580px) {

    #Starterpack a{
        width: 80%;
        padding:15px 0px;
    }

    #Starterpack{
        height:100%;
    }
    }