#Oneshot{
    color : #e1aa3b;
    width:100vw;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Oneshot a{
    padding:25px
    }

#Oneshot li {
    color : #e1aa3b;
}

@media (max-width: 580px) {

#Oneshot a{
    width: 80%;
    padding:15px 0px;
}
}